<!DOCTYPE html>
<html>
<head>

<body>


<style>


body {

  background-color: #ffff99
	
	
  	
}

h1 {
  	color: black;
  	text-align: center;
  	font-size: 40;
  	margin-top: 3%;
    font-family: 'Josefin Sans', sans-serif;
}

p {
  	font-family: verdana;
  	font-size: 20px;
  	text-align: justify;
	 font-size: 20px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2%;
 	color: grey;

 	
}

.a{
	border-bottom: 2px solid red;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2px;


}



iframe.videos{

	width: 659px;
	height: 369px;
	float: right;
	margin-left:1%;
	margin-right: 10%;
	margin-top: 1%;

}



.vertical-menu {
  width: 200px;
  margin-left: 10%;
  padding: 2px
  margin-right: 1%;
  float: left;
  margin-top: 1%;
}

.vertical-menu a {
  background-color: #b3c6ff;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-right: 5%;
  

}

.vertical-menu a:hover {
  background-color:#9494b8;
  
}

.vertical-menu a.active {
  background-color: #9494b8;
  color: white;
  
}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 6%;
  font-size: 25px;
  
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-right: 205px;
  width: 70px;
  text-decoration: none;

}

div.scrollmenu a:hover {
  background-color: #777;
}

div.horizontal-menu {

  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  margin-right: 2%;
  
}


h3 {
  text-align: center;
  font-size: 20px
}

iframe.videos-1 {
margin-top: 3%;
margin-left: 10%;
width: 35%;
height: 370px;

}







</style>



</head>

</body>


</html>
